[*.cs]
dotnet_sort_system_directives_first=false
dotnet_separate_import_directive_groups=false
csharp_using_directive_placement=false

csharp_new_line_before_open_brace=none
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false
csharp_new_line_before_else=false
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_between_query_expression_clauses=true